<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/style_admin.css">
</head>
<body>
    <h1>사원번호: {{ user_id }}</h1>
    <table>
        <tr>
            <th>문제 번호</th>
            <th>정답</th>
            <th>사용자의 답</th>
        </tr>
        {% for question, answer, user_answer in results %}
        <tr>
            <td>{{ question }}</td>
            <td>{{ answer }}</td>
            <td>{{ user_answer }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>점수: {{ score }}</h1>
</body>
</html>
